Organizers/WorkTrack2013/Knightrunner.WorkTrack2013.Client.WinForms/Service References/WorkTrackService/WorkTrack1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Knightrunner.WorkTrack2013.Contract" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Knightrunner.WorkTrack2013.Contract" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Reminder">
    <xs:sequence>
      <xs:element minOccurs="0" name="Active" type="xs:boolean" />
      <xs:element minOccurs="0" name="DaysOfMonth" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DaysOfWeek" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Hours" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="Minutes" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Months" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Seconds" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Text" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Years" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Reminder" nillable="true" type="tns:Reminder" />
</xs:schema>