Organizers/WorkTrack2013/Knightrunner.WorkTrack2013.Client.WinForms/Service References/WorkTrackService/WorkTrack1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:i0="http://services.knightrunner.com/Organizers/WorkTrack2013/1.0" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="WorkTrack" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:import namespace="http://services.knightrunner.com/Organizers/WorkTrack2013/1.0" location="http://localhost:1862/WorkTrack.svc?wsdl=wsdl0" />
  <wsdl:types />
  <wsdl:binding name="BasicHttpBinding_IWorkTrack" type="i0:IWorkTrack">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetProjects">
      <soap:operation soapAction="http://services.knightrunner.com/Organizers/WorkTrack2013/1.0/IWorkTrack/GetProjects" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetChildProjects">
      <soap:operation soapAction="http://services.knightrunner.com/Organizers/WorkTrack2013/1.0/IWorkTrack/GetChildProjects" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveProject">
      <soap:operation soapAction="http://services.knightrunner.com/Organizers/WorkTrack2013/1.0/IWorkTrack/SaveProject" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetActivityTypes">
      <soap:operation soapAction="http://services.knightrunner.com/Organizers/WorkTrack2013/1.0/IWorkTrack/GetActivityTypes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveActivityType">
      <soap:operation soapAction="http://services.knightrunner.com/Organizers/WorkTrack2013/1.0/IWorkTrack/SaveActivityType" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReminders">
      <soap:operation soapAction="http://services.knightrunner.com/Organizers/WorkTrack2013/1.0/IWorkTrack/GetReminders" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveReminder">
      <soap:operation soapAction="http://services.knightrunner.com/Organizers/WorkTrack2013/1.0/IWorkTrack/SaveReminder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteReminder">
      <soap:operation soapAction="http://services.knightrunner.com/Organizers/WorkTrack2013/1.0/IWorkTrack/DeleteReminder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJournalEntries">
      <soap:operation soapAction="http://services.knightrunner.com/Organizers/WorkTrack2013/1.0/IWorkTrack/GetJournalEntries" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveJournalEntry">
      <soap:operation soapAction="http://services.knightrunner.com/Organizers/WorkTrack2013/1.0/IWorkTrack/SaveJournalEntry" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteJournalEntry">
      <soap:operation soapAction="http://services.knightrunner.com/Organizers/WorkTrack2013/1.0/IWorkTrack/DeleteJournalEntry" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetActivities">
      <soap:operation soapAction="http://services.knightrunner.com/Organizers/WorkTrack2013/1.0/IWorkTrack/GetActivities" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveActivity">
      <soap:operation soapAction="http://services.knightrunner.com/Organizers/WorkTrack2013/1.0/IWorkTrack/SaveActivity" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteActivity">
      <soap:operation soapAction="http://services.knightrunner.com/Organizers/WorkTrack2013/1.0/IWorkTrack/DeleteActivity" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WorkTrack">
    <wsdl:port name="BasicHttpBinding_IWorkTrack" binding="tns:BasicHttpBinding_IWorkTrack">
      <soap:address location="http://localhost:1862/WorkTrack.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>