Organizers/WorkTrack2013/Knightrunner.WorkTrack2013.Client.WinForms/Service References/WorkTrackService/WorkTrack2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://services.knightrunner.com/Organizers/WorkTrack2013/1.0" elementFormDefault="qualified" targetNamespace="http://services.knightrunner.com/Organizers/WorkTrack2013/1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1862/WorkTrack.svc?xsd=xsd2" namespace="http://schemas.knightrunner.com/Organizers/WorkTrack2013/1.0" />
  <xs:import schemaLocation="http://localhost:1862/WorkTrack.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Knightrunner.WorkTrack2013.Contract" />
  <xs:element name="GetProjects">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProjectsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.knightrunner.com/Organizers/WorkTrack2013/1.0" minOccurs="0" name="GetProjectsResult" nillable="true" type="q1:ArrayOfProject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChildProjects">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="publicId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChildProjectsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.knightrunner.com/Organizers/WorkTrack2013/1.0" minOccurs="0" name="GetChildProjectsResult" nillable="true" type="q2:ArrayOfProject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveProject">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.knightrunner.com/Organizers/WorkTrack2013/1.0" minOccurs="0" name="project" nillable="true" type="q3:Project" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveProjectResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetActivityTypes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetActivityTypesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.knightrunner.com/Organizers/WorkTrack2013/1.0" minOccurs="0" name="GetActivityTypesResult" nillable="true" type="q4:ArrayOfActivityType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveActivityType">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.knightrunner.com/Organizers/WorkTrack2013/1.0" minOccurs="0" name="activityType" nillable="true" type="q5:ActivityType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveActivityTypeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReminders">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRemindersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Knightrunner.WorkTrack2013.Contract" minOccurs="0" name="GetRemindersResult" nillable="true" type="q6:Reminder" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveReminder">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Knightrunner.WorkTrack2013.Contract" minOccurs="0" name="reminder" nillable="true" type="q7:Reminder" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveReminderResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteReminder">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteReminderResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetJournalEntries">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="from" type="xs:dateTime" />
        <xs:element minOccurs="0" name="to" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetJournalEntriesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.knightrunner.com/Organizers/WorkTrack2013/1.0" minOccurs="0" name="GetJournalEntriesResult" nillable="true" type="q8:ArrayOfJournalEntry" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveJournalEntry">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.knightrunner.com/Organizers/WorkTrack2013/1.0" minOccurs="0" name="journalEntry" nillable="true" type="q9:JournalEntry" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveJournalEntryResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteJournalEntry">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteJournalEntryResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetActivities">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="from" type="xs:dateTime" />
        <xs:element minOccurs="0" name="to" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetActivitiesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.knightrunner.com/Organizers/WorkTrack2013/1.0" minOccurs="0" name="GetActivitiesResult" nillable="true" type="q10:ArrayOfActivity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveActivity">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.knightrunner.com/Organizers/WorkTrack2013/1.0" minOccurs="0" name="activity" nillable="true" type="q11:Activity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveActivityResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteActivity">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteActivityResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>