Organizers/WorkTrack/TestClient/Service References/WorkTrackServiceReference/item.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://www.knightrunner.com/WorkTrack/Model/ServiceContract" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.knightrunner.com/WorkTrack/Model/ServiceContract" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.knightrunner.com/WorkTrack/Model/ServiceContract/Imports">
      <xsd:import schemaLocation="http://localhost:8000/WorkTrackService/?xsd=xsd0" namespace="http://www.knightrunner.com/WorkTrack/Model/ServiceContract" />
      <xsd:import schemaLocation="http://localhost:8000/WorkTrackService/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8000/WorkTrackService/?xsd=xsd2" namespace="http://www.knightrunner.com/WorkTrack/Model/DataContract" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IWorkTrackService_GetProjects_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProjects" />
  </wsdl:message>
  <wsdl:message name="IWorkTrackService_GetProjects_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProjectsResponse" />
  </wsdl:message>
  <wsdl:message name="IWorkTrackService_GetProject_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProject" />
  </wsdl:message>
  <wsdl:message name="IWorkTrackService_GetProject_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProjectResponse" />
  </wsdl:message>
  <wsdl:message name="IWorkTrackService_CreateProject_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateProject" />
  </wsdl:message>
  <wsdl:message name="IWorkTrackService_CreateProject_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateProjectResponse" />
  </wsdl:message>
  <wsdl:message name="IWorkTrackService_InsertProject_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertProject" />
  </wsdl:message>
  <wsdl:message name="IWorkTrackService_InsertProject_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertProjectResponse" />
  </wsdl:message>
  <wsdl:message name="IWorkTrackService_UpdateProject_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateProject" />
  </wsdl:message>
  <wsdl:message name="IWorkTrackService_UpdateProject_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateProjectResponse" />
  </wsdl:message>
  <wsdl:portType name="IWorkTrackService">
    <wsdl:operation name="GetProjects">
      <wsdl:input wsaw:Action="http://www.knightrunner.com/WorkTrack/Model/ServiceContract/IWorkTrackService/GetProjects" message="tns:IWorkTrackService_GetProjects_InputMessage" />
      <wsdl:output wsaw:Action="http://www.knightrunner.com/WorkTrack/Model/ServiceContract/IWorkTrackService/GetProjectsResponse" message="tns:IWorkTrackService_GetProjects_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProject">
      <wsdl:input wsaw:Action="http://www.knightrunner.com/WorkTrack/Model/ServiceContract/IWorkTrackService/GetProject" message="tns:IWorkTrackService_GetProject_InputMessage" />
      <wsdl:output wsaw:Action="http://www.knightrunner.com/WorkTrack/Model/ServiceContract/IWorkTrackService/GetProjectResponse" message="tns:IWorkTrackService_GetProject_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateProject">
      <wsdl:input wsaw:Action="http://www.knightrunner.com/WorkTrack/Model/ServiceContract/IWorkTrackService/CreateProject" message="tns:IWorkTrackService_CreateProject_InputMessage" />
      <wsdl:output wsaw:Action="http://www.knightrunner.com/WorkTrack/Model/ServiceContract/IWorkTrackService/CreateProjectResponse" message="tns:IWorkTrackService_CreateProject_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertProject">
      <wsdl:input wsaw:Action="http://www.knightrunner.com/WorkTrack/Model/ServiceContract/IWorkTrackService/InsertProject" message="tns:IWorkTrackService_InsertProject_InputMessage" />
      <wsdl:output wsaw:Action="http://www.knightrunner.com/WorkTrack/Model/ServiceContract/IWorkTrackService/InsertProjectResponse" message="tns:IWorkTrackService_InsertProject_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateProject">
      <wsdl:input wsaw:Action="http://www.knightrunner.com/WorkTrack/Model/ServiceContract/IWorkTrackService/UpdateProject" message="tns:IWorkTrackService_UpdateProject_InputMessage" />
      <wsdl:output wsaw:Action="http://www.knightrunner.com/WorkTrack/Model/ServiceContract/IWorkTrackService/UpdateProjectResponse" message="tns:IWorkTrackService_UpdateProject_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>