Organizers/WorkTrack/TestClient/Service References/WorkTrackServiceReference/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://www.knightrunner.com/WorkTrack/Model/ServiceContract" elementFormDefault="qualified" targetNamespace="http://www.knightrunner.com/WorkTrack/Model/ServiceContract" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8000/WorkTrackService/?xsd=xsd2" namespace="http://www.knightrunner.com/WorkTrack/Model/DataContract" />
  <xs:import schemaLocation="http://localhost:8000/WorkTrackService/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:element name="GetProjects">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProjectsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://www.knightrunner.com/WorkTrack/Model/DataContract" minOccurs="0" name="GetProjectsResult" nillable="true" type="q1:ArrayOfProject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProject">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="id" type="q2:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProjectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://www.knightrunner.com/WorkTrack/Model/DataContract" minOccurs="0" name="GetProjectResult" nillable="true" type="q3:Project" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateProject">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateProjectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://www.knightrunner.com/WorkTrack/Model/DataContract" minOccurs="0" name="CreateProjectResult" nillable="true" type="q4:Project" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertProject">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://www.knightrunner.com/WorkTrack/Model/DataContract" minOccurs="0" name="project" nillable="true" type="q5:Project" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertProjectResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateProject">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://www.knightrunner.com/WorkTrack/Model/DataContract" minOccurs="0" name="updatedProject" nillable="true" type="q6:Project" />
        <xs:element xmlns:q7="http://www.knightrunner.com/WorkTrack/Model/DataContract" minOccurs="0" name="originalProject" nillable="true" type="q7:Project" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateProjectResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>